# Node
node_modules/
npm-debug.log
yarn-error.log
# package-lock.json - нужен для CI/CD
yarn.lock

# Cloudflare
.wrangler/
.dev.vars
dist/
worker/

# IDE
.vscode/
.idea/
*.sublime-*

# Env
.env
.env.local
.env.development
.env.test
.env.production

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log 